<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
	
    <bean id="userIdSeqGenerater" class="org.springframework.jdbc.support.incrementer.MySQLMaxValueIncrementer">
        <property name="incrementerName" value="seq_user_id"/> 
        <property name="columnName" value="seq"/>
        <property name="cacheSize" value="${userid.sequence.cachesize}"/>
        <property name="dataSource" ref="dataSource"/>
    </bean>
</beans>